@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Poppins:ital,wght@0,300;0,600;1,300;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

// General starts
html,
body {
  @apply scroll-smooth font-Poppins font-light;
}

// font

h1 {
  @apply font-semibold md:text-5xl text-3xl md:leading-normal leading-tight;
}

h2 {
  @apply font-semibold md:text-xl text-lg;
}

h3,
h4 {
  @apply font-semibold text-sm leading-normal;
}

h5 {
  @apply font-bold text-xs leading-normal italic;
}

p,
li {
  @apply font-light text-base;
}

span {
  @apply text-sm;
}

.icon {
  width: 36px;
  height: 36px;
}

// General ends

// Home starts
#hero-section,
#intro-section,
#about-section,
#contact-section,
footer {
  @apply relative z-20;
}

.hero-section {
  button {
    z-index: 1;
    &::after {
      content: '';
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: 7px;
      left: 5px;
      width: 100%;
      height: 70%;
      z-index: -1;
    }
    &:hover::after {
      top: 4px;
      left: 0;
    }
  }
}

// Resume
.resume-title {
  @apply sm:mt-24 mt-8;
}
.resume-subtitle {
  @apply sm:my-5 my-3;
}
// Resume

// Home ends

// Work page
.work-section {
  .work-card {
    span {
      opacity: 0;
      &.active {
        opacity: 1;
      }
      &.effect {
        transition: opacity 0.05s linear;
        &:nth-child(even) {
          transition-delay: 0.3s;
        }
        &:nth-child(odd) {
          transition-delay: 0.45s;
        }
      }
    }
  }
}
// Work ends

// Skeleton starts
.skeleton {
  max-width: 1200px;

  > div {
    background: #605b56;
    border-radius: 4px;
    margin: 20px 0;
  }

  .s-banner {
    padding: 12% 0;
  }

  .s-header {
    padding: 15px 0;
    max-width: 500px;
  }

  .s-content {
    padding: 8px 0;
    max-width: 1000px;
  }
}
// Skeleton ends
